.o-footer {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  left: 0;
  padding-bottom: 110px;
  position: relative;
  width: 100%;


  @include mq(medium) {
    padding-bottom: 100px;
    position: fixed;
    top: calc( 100% - #{map-get($footerConfig, heightClose)} );
    z-index: 100;
  }

  &.fluid-transition {
    transition: all 0.5s;
  }

  .loginapp &,
  .default &,
  &.is-unfixed {
    position: relative;
    top: 0;
    transition: none;

    .a-link--animation {
      color: color(textAlt, light);
      cursor: default;

      .is-IE & {
        color: color(textAlt, light);
        cursor: default;
      }
    }

    .m-btnGroup {
      display: none;
    }
  }

  &.is-active {
    top: calc( 100% - #{map-get($footerConfig, heightOpen)} );
  }

  &:before {
    background: linear-gradient(to right, color(brand, light) , color(brand, dark));
    content: '';
    display: none;
    height: 6px;
    position: absolute;
    top: 0;
    width: 100%;

    @include mq(medium) {
      display: block;
    }
  }

  &.o-footer--navigation-block {
    position: relative;
    top: 0;

    &:before,
    .m-btnGroup {
      display: none;
    }
  }
}


#footerSentinel {
  background: transparent;
  display: block;
  float: left;
  height: 10px;
  position: relative;
  transform: translateY(60px);
  width: 100%;
}

.o-footer .a-container--navigation {
  border-bottom: 1px solid color(shape, dark);
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: (map-get($footerConfig, listHeight) * 2);
}

.o-footer .m-list .a-list__item {
  padding: 5px;

  @include mq(large) {
    padding: 10px;
  }
}

.o-footer .m-list--customer,
.o-footer .m-list--support,
.o-footer .m-list--guarantees,
.o-footer .m-list--informative {
  border-right: 1px solid color(shape, dark);
  flex: 0 0 20%;
  overflow: hidden;
  position: relative;
  z-index: 10;

  &:after {
    background: color(brand, light);
    box-shadow: 0px 0px 10px 0 color(brand, light);
    border-radius: 5px;
    content: '';
    height: 5px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 1s cubic-bezier(.165,.84,.44,1);
    width: 15px;
  }

  &:hover:after {
    left: 120%;
    opacity: 1;
  }

  &:before {
    background: color(brand);
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.o-footer .m-list .a-list__item .a-link {
  height: (map-get($footerConfig, listHeight) * 2 );
}

.o-footer .m-list .m-list {
  border-right: none;
}

.o-footer .m-list .m-list .a-list__item {
  padding: 0;
}

.o-footer .m-list .m-list .a-list__item .a-link {
  height: map-get($footerConfig, listHeight);
}

// ANIMATION BAR
.o-footer .m-list:nth-child(odd) {

  &:after {
    background: color(brand, dark);
    box-shadow: 0px 0px 10px 0 color(brand, dark);
  }

  &:before {
    background: color(brand, light);
  }
}

.o-footer .m-list:nth-child(odd) .a-list__item .a-link:after {
  background: color(brand);
}

// GUARANTEE LIST
.o-footer .m-list--guarantees {
  flex: 1 0 30%;
}

.o-footer .m-list--guarantees .m-list {
  height: ( 50px / 2) * 6;
  flex-wrap: wrap;
  width: 100%;
}


// HORIZONTAL LISTS MENU //
.o-footer .m-list--company,
.o-footer .m-list--information-package {
  flex: 1 0 calc(100% - 20px);
  margin: 10px 0 0 0;
}

.o-footer .m-list--company {
  margin-top: (map-get($footerConfig, listHeight) * 2);
}

.o-footer .m-list--company .a-list__item,
.o-footer .m-list--information-package .a-list__item {
  height: map-get($footerConfig, listHeight);
  padding: 0;
}

.o-footer .m-list--company .a-list__item .a-link,
.o-footer .m-list--information-package .a-list__item .a-link {
  border-right: 1px solid color(shape, dark);
  height: map-get($footerConfig, listHeight);
  padding: 0 10px;
}

.o-footer .m-list--informative,
.o-footer .m-list--company .a-list__item:last-child .a-link,
.o-footer .m-list--information-package .a-list__item:last-child .a-link {
  border-right: none;
}

// PAYMENT -  PRIVACY //
.o-footer .a-container--payment ,
.o-footer .a-container--privacy {
  align-items: center;
  flex-direction: column;
}

.o-footer .a-container--payment .a-list__item {
  justify-content: center;
  padding: (map-get($footerConfig, listHeight) * 2 ) (map-get($footerConfig, listHeight) / 5) 0;
}

.o-footer .m-list .a-list__item svg,
.o-footer .m-list .a-list__item img {
  width: (map-get($footerConfig, listHeight) * 2) - 10px;

  .is-IE & {
    height: 27.3px;
  }
}

.o-footer .a-container--privacy .a-logo {
  padding: map-get($footerConfig, listHeight) ;
}

// TOGGLE BTN //
.o-footer .m-btnGroup {
  display: none;

  @include mq(medium) {
    display: flex;
    position: absolute;
    right: 5%;
    padding: 0;
    top: 0;
  }

  .is-IE:not(.is-EDGE) & {
    top: -10px;
  }
}

.o-footer.is-unfixed .m-btnGroup {
    display: none;
  }

.o-footer .m-btnGroup .a-icon {
  transition: all .2s ease-in-out;

  .is-active & {
    transform: rotate(180deg);
    top: 2px;
  }
}

.o-footer {

  // BLOCK TABLET
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    position: relative;
    top: 0;

    .a-link--animation {
      color: color(textAlt, light);
    }

    .m-btnGroup {
      display: none;
    }
  }
}
