.o-header {
  background: transparent;
  display: flex;
  flex: 1 0 auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1010;

  @include mq(medium) {
    position: fixed;
  }

  .reserved-area &,
  .renewal &,
  .static-page & {
    position: absolute;
    top: 0;
  }

  &.o-header--navigation-block {
    position: relative;

    .a-container {
      justify-content: center;

      @include mq(medium) {
        justify-content: space-between;
      }
    }

    .m-list,
    .a-hamburger {
      display: none;
    }
  }
}


.o-header .a-logo.a-logo--white {
  display: none;
}

.o-header .m-btnGroup {
  background: color(backgroundAlt, dark);
  bottom: -50px;
  border-top: 1px solid color(shape, dark);
  left: 0;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: 110;
  width: 100%;
  transition: all 0.1s ease-out;
  transition-delay: 0.2s;
}

.o-header .m-nav .m-list .a-list__item {
  padding: (map-get($listConfig, padding) / 2) map-get($listConfig, padding);
}

.o-header .m-nav .m-list .a-list__item.a-list__item--button {

  &.is-active {
    padding: 0 5px;
  }

  &.is-animate--done {
    padding: 0;
  }
}

.o-header .m-nav .m-list .a-list__item.is-active .a-link {

  .reserved-area &,
  .renewal & {
    background: transparent;
  }
}

.o-header .m-nav .m-list .a-list__item.a-list__item--reserved-area {
  padding: 0;

  @include mq(small) {
    padding: (map-get($listConfig, padding) / 2) map-get($listConfig, padding);
  }
}

.o-header .m-nav .m-list .a-list__item.a-list__item--reserved-area .a-link {
  &:after,
  &:before {
    display: none;
  }

  @include mq(medium) {
    &:after,
    &:before {
      display: flex;
    }
  }
}

// MOBILE HEADER //
.m-offCanvas .a-icon {
  padding: 0 10px;
}

.m-offCanvas .m-accordion {
  background: trasparent;
}

.m-offCanvas .a-accordion__item {
  flex: 0 0 auto;
  padding: 10px 10px 0 10px ;
}

.m-offCanvas .a-accordion__item .a-container {
  align-items: flex-start;
  flex-direction: column;
}

.m-offCanvas .m-accordion .a-accordion__item .a-accordion__item__a-toggle {
  width: 100%;
}

.o-header #toggle:checked {

  & ~ .a-hamburger .a-hamburger__inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      background-color: color(background);
      top: 0;
      opacity: 1;
      transition: top 0.1s ease-out,
      opacity 0.1s 0.12s ease-out;
    }

    &::after {
      background-color: color(background);
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out,
      transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  & ~ .m-list .a-list__item--reserved-area .a-icon {
    color: color(textAlt, light);

    @include mq(small) {
      color: inherit;
    }
  }

  & ~ .a-logo {
    display: none;
    transition-delay: 3s;

    @include mq(small) {
      display: flex;
    }
  }

  & ~ .a-logo.a-logo--white {
    display: flex;
    z-index: 10;

    @include mq(small) {
      display: none;
    }
  }

  & ~ .m-btnGroup {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }

}
