.o-header {
  background: transparent;
  display: flex;
  flex: 1 0 auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1010;

  @include mq(medium) {
    position: fixed;
  }

  .reserved-area &,
  .renewal &,
  .static-page & {
    position: absolute;
    top: 0;
  }

  &.o-header--navigation-block {
    position: relative;

    .a-container {
      justify-content: center;

      @include mq(medium) {
        justify-content: space-between;
      }
    }

    .m-list,
    .a-hamburger {
      display: none;
    }
  }
}


.o-header .a-logo.a-logo--white {
  display: none;
}

.o-header .m-btnGroup {
    background: color(backgroundAlt);
    bottom: 0;
    position: fixed;
    z-index: 20;
    width: 100%;
}

.o-header .m-nav .m-list .a-list__item {
  padding: (map-get($listConfig, padding) / 2) map-get($listConfig, padding);
}

.o-header .m-nav .m-list .a-list__item.a-list__item--button {

  &.is-active {
    padding: 0 5px;
  }

  &.is-animate--done {
    padding: 0;
  }
}

.o-header .m-nav .m-list .a-list__item.is-active .a-link {

  .reserved-area &,
  .renewal & {
    background: transparent;
  }
}

.o-header .m-nav .m-list .a-list__item.a-list__item--reserved-area {
  padding: 0;

  @include mq(small) {
    padding: (map-get($listConfig, padding) / 2) map-get($listConfig, padding);
  }
}

.o-header .m-nav .m-list .a-list__item.a-list__item--reserved-area .a-link {
  &:after,
  &:before {
    display: none;
  }

  @include mq(medium) {
    &:after,
    &:before {
      display: flex;
    }
  }
}

// MOBILE HEADER //
.o-header .m-offCanvas--right.is-animate--done + .m-nav .a-container .m-list .a-icon {
  color: color(textAlt, light);

  @include mq(small) {
    color: inherit;
  }
}

.o-header .m-offCanvas--right.is-animate--done + .m-nav.bg-backgroundAlt-dark {
  border-bottom: 1px solid color(shape, dark);
}

.o-header .m-offCanvas--right.is-animate--in + .m-nav.m-nav--scroll {
  position: absolute;
}

.o-header .m-offCanvas--right.is-animate--done + .m-nav .m-accordion {
  padding-bottom: 60px;
}

.o-header .m-offCanvas--right.is-animate--done + .m-nav .a-container .a-logo {
  display: none;
  transition-delay: 3s;

  @include mq(small) {
    display: flex;
  }
}

.o-header .m-offCanvas--right.is-animate--done + .m-nav .a-container .a-logo.a-logo--white {
  display: flex;
  z-index: 10;

  @include mq(small) {
    display: none;
  }
}

.o-header .m-offCanvas--right.is-animate--done + .o-footer {
  display: none;
}
