.o-jumbotron {
  background-color: color(background, base);
  flex-flow: column;
  flex-wrap: wrap;
  overflow: hidden;
  height: 70vh;

  @include mqBetween(small, medium) {
    height: 40vh;
  }

  @include mq(small) {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
  }
}

.o-jumbotron__wrapper--left {
  .o-jumbotron__title {
    color: color(brand, base);
    margin: 0;
    text-align: center;

    @include mq(small) {
      text-align: left;
    }
  }

  .o-jumbotron__subtitle {
    color: color(text, base);
    margin: 0;
    text-align: center;

    @include mq(small) {
      text-align: left;
    }
  }

  .o-jumbotron__paragraph {
    color: color(text, base);
    margin-top: 15px;
    text-align: center;

    @include mq(small) {
      margin-top: 30px;
      text-align: left;
    }
  }
}

.o-jumbotron__wrapper--right {
  display: flex;

  .o-jumbotron__picture,
  .o-jumbotron__picture__image {
    align-self: center;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}