.pages__page-typography-font-section,
.pages__page-typography-font-weight-section,
.pages__page-typography-body-styles-section,
.pages__page-typography-heading-styles-section {
  margin-bottom: get($sectionOffset, marginBottom);
  @include mq(medium) {
    margin-bottom: get($sectionOffset, breakpoints, medium);
  }
}

.pages__page-typography-font-weight-section,
.pages__page-typography-body-styles-section,
.pages__page-typography-heading-styles-section {
  overflow-x: scroll;
  width: 100%;
}

.pages__page-typography-font-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  @include mq(medium) {
    justify-content: space-between;
  }
}

.pages__page-typography-font-section__intro {
  width: 100%;

  @include mq(medium) {
    width: rem(360px);
  }
}

.pages__page-typography-font-section__specs {
  margin-left: rem(40px);
}

.pages__page-typography-font-section__specs__item {
  margin-bottom: rem(12px);
  margin-top: rem(12px);
}

.pages__page-typography-font-section__specs__item__label {
  font-family: font(heavy);
  margin-right: rem(12px);
}

.pages__page-typography-font-section__sample {
  border-right: 1px solid color(shape);
  font-family: font(base);
  font-size: rem(160px);
  line-height: rem(160px);
  padding-right: rem(36px);
}

.pages__page-typography-alphabet-sample {
  margin-bottom: rem(8px);
  word-wrap: break-word;
}

.pages__page-typography-mark-font-section {
  background: linear-gradient(to right, #b964e3, color(brand, base));
  color: color(textAlt, light);
}
