.page-head__subtitle {
  margin-bottom: rem(20px);
  margin-top: rem(20px);
}

.page-head__title {
  font-family: font(base);
}

.page-head__link {
  border: 1px solid color(shape);
  border-radius: rem(5px);
  font-family: font(base);
  padding: rem(20px);
  white-space: nowrap;

  > span {
    color: color(brandAlt);
    margin-right: 16px;
  }
}

.page-head__link-bar {
  @include hackyFlexboxChildrenSpacing(rem(4px));
  display: flex;
  flex-flow: row wrap;
}
