.pages__page-logo__section-meaning,
.pages__page-logo__section-mark,
.pages__page-logo__section-respect,
.pages__page-logo__section-colors,
.pages__page-logo__section-downloads,
.pages__page-logo__section-black,
.pages__page-logo__section-cafe {
  margin-bottom: get($sectionOffset, marginBottom);
  @include mq(medium) {
    margin-bottom: get($sectionOffset, breakpoints, medium);
  }
}

.pages__page-logo__section-colors,
.pages__page-logo__section-mark,
.pages__page-logo__section-meaning,
.pages__page-logo__section-respect {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pages__page-logo__section-meaning__text,
.pages__page-logo__section-mark__text,
.pages__page-logo__section-respect__text,
.pages__page-logo__section-colors__text {
  @include mq(medium) {
    width: rem(360px);
  }
}

.pages__page-logo__section-black__images,
.pages__page-logo__section-cafe__images {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  overflow: hidden; // Prevent children backgrounds from overlapping border-radius

  @include mq(small) {
    border: 1px solid color(shape);
    border-radius: rem(5px);
  }
}

.pages__page-logo__section-black__images-positive,
.pages__page-logo__section-cafe__images-positive {
  background-color: color("background", base);
  flex-grow: 1;
  min-width: rem(360px);
  @include mq(small) {
    padding: rem(20px);
  }
  @include mq(medium) {
    padding: rem(71px) rem(90px);
  }
}

.pages__page-logo__section-black__images-negative,
.pages__page-logo__section-cafe__images-negative {
  background-color: color(backgroundAlt, dark);
  color: color(textAlt, light);
  flex-grow: 1;
  min-width: rem(360px);
  @include mq(small) {
    padding: rem(20px);
  }
  @include mq(medium) {
    padding: rem(71px) rem(90px);
  }
}
