[submodule "pyxis-components"]
	path = lib/pyxis-components
	url = git@github.com:primait/pyxis-components.git
[submodule "pyxis-npm"]
	path = lib/pyxis-npm
	url = git@github.com:primait/pyxis-npm.git
