{
  "extends": [
    "./lib/pyxis-npm/.stylelintrc"
  ],
  "plugins": [
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "selector-class-pattern": [
      "^([a-z]+(-([a-z]+))*)(__[a-z]+(-[a-z]+)*)?(--[a-z]+(-[a-z]+)*)?$",
      {
        "resolveNestedSelectors": true
      }
    ]
  }
}
