$formConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  buttonDisabledOpacity: 0.3,
  buttonHeight: 40px,
  buttonIconOffset: 24%,
  buttonIconAfterOffset: 5px,
  buttonMinWidth: 180px,
  circleDimension: 40px,
  circleExternalDimension: 30px,
  circleRadius: 20px,
  datepickerCellSize: 38px,
  datepickerPadding: 20px,
  datepickerShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  errorPadding: 7.5px,
  fieldDisabledOpacity: 0.65,
  fieldHeight: 50px,
  fieldMaxWidth: 250px,
  fieldMaxWidthLarge: 320px,
  fieldMaxWidthSmall: 120px,
  fieldPadding: 0 15px,
  fieldShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  iconSize: 20px,
  labelWidth: 280px,
);

$tooltipConfig: (
  arrowSize: 8px,
  borderRadius: 5px,
  margin: 15px,
  padding: 10px 15px,
  width: 320px,
);

$loginConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  loginShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10),
  minHeight: 400px,
);

$containerConfig: (
  xsmall:  540px,
  small:   700px,
  medium:  960px,
  large:   1140px,
  xlarge:  1370px,
);

$linkConfig: (
  underlineHeight: 2px,
);

$listConfig: (
  borderWidth: 1px,
  iconSize: 20px,
  padding: 20px,
);

$accordionConfig: (
  iconWidth: 2px,
  iconHeight: 10px,
  accordionPadding: 20px,
);

$hamburgerConfig: (
 borderRadius  : 4px,
 layerWidth    : 16px,
 layerHeight   : 3px,
 layerSpacing  : 2px,
 paddingHeight : 10px,
 paddingWidth  : 10px,
);

$pillsConfig: (
 borderRadius : 30px,
 marginPills  : 10px,
 paddingPills : 5px,
);

$navConfig: (
 desktopHeight: 70px,
 mobileHeight : 40px,
);

$headerConfig: (
  borderWidth: 1px,
  iconSize: 20px,
  itemPadding: 0 20px,
);

$footerConfig: (
 listHeight: 25px,
 heightClose: 60px,
 heightOpen: 400px,
);

$offCanvasConfig: (
 transitionDuration: 0.3s,
 transitionDelay: 0.1s,
);
