$formConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  buttonHeight: 40px,
  fieldDisabledOpacity: 0.65,
  fieldHeight: 50px,
  fieldPadding: 0 15px,
  fieldShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  iconSize: 20px,
  labelWidth: 280px,
);

$tooltipConfig: (
  arrowSize: 5px,
  borderRadius: 5px,
  padding: 15px,
  width: 320px,
);

$loginConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  loginShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10),
)
