$formConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  buttonDisabledOpacity: 0.3,
  buttonHeight: 40px,
  buttonMinWidth: 180px,
  datepickerCellSize: 38px,
  datepickerPadding: 20px,
  datepickerShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  errorPadding: 7.5px,
  fieldDisabledOpacity: 0.65,
  fieldHeight: 50px,
  fieldMaxWidth: 250px,
  fieldPadding: 0 15px,
  fieldShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  iconSize: 20px,
  labelWidth: 280px,
);

$tooltipConfig: (
  arrowSize: 8px,
  borderRadius: 5px,
  margin: 15px,
  padding: 10px 15px,
  width: 320px,
);

$loginConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  loginShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10),
  minHeight: 400px,
);

$containerConfig: (
  xsmall:  540px,
  small:   700px,
  medium:  960px,
  large:   1140px,
  xlarge:  1370px,
);
