html {
 box-sizing: border-box;
 font-size: size(root);
}

*,* :before, *:after {
 box-sizing: inherit;
}

body {
 box-sizing: border-box;
 font-family: font(light);
 font-size: size(small);
 height: 100%;
 line-height: lineHeight(small);
 width: 100%;
 -webkit-font-smoothing: antialiased;

 @include mq(small) {
   font-size: size(small);
   line-height: lineHeight(small);
 }

 @include mq(medium) {
   font-size: size(root);
   line-height: lineHeight(root);
 }
}
