html {
 box-sizing: border-box;
 font-size: size(root);

   @include mq(medium) {
     font-size: size(root);

     @include ignorePyxis {
       line-height: lineHeight(root);
     }
   }

   @include mqUp(xlarge) {
     font-size: map-get($fontSizes, base) * $largeScreenRatio;
   }
}

*,* :before, *:after {
 box-sizing: inherit;
}

body {
 box-sizing: border-box;
 font-family: font(light);
 font-size: inherit;
 height: 100%;
 width: 100%;
 -webkit-font-smoothing: antialiased;
}


input,
textarea,
select,
button {
  font-size: inherit;
}

p {
  margin: 0;
}
