.pyxis-page {
  color: color(text, base);

  .section {
    margin-bottom: 25px;
    padding: 0;

    @include mq(small) {
      margin-bottom: 80px 0;
    }

    &:first-child {
      @include mqDown(small) {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }


  .heading-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .heading-container__img {
    @extend .mq-desktop-hidden;
    transform: translateY(-5%);
  }

  .heading-container__text {
    @extend .c-text-dark;
  }

  .preview-box {
    @extend .box;
    @extend .u-pos-center;

    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 100%;
  }


  p {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  // this is required to avoid images breaking equally sized columns in flex containers
  img {
    max-width: 100%;
  }

}
