.page {
  display: flex;
  flex-direction: column;
  font: font(base);
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
}

.page__content {
  flex-grow: 1;
  padding: 16px;
}

.page__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.page section {
  margin: 25px 0;

  @include mq(small) {
    margin: 80px 0;
  }
}

.page section:first-child {
  @include mqDown(small) {
    margin-top: 0;
  }
}

.page section:last-child {
  margin-bottom: 0;
}

.page h2 {
  display: flex;
  flex-direction: row;
}

.page h2 img {
  transform: translateY(-5%);
}

.page p {
  color: color(text, base);
  margin-bottom: 1em;
  margin-top: .5em;
}


.brand-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand-logo__image {
  max-width: 150px;
}

.brand-logo__label {
  color: color(text, base);
  font-size: 12px;
}
