@each $color, $tones in $colors {
  @each $colorTone, $colorHex in $tones {
    .bg-#{$color}-#{$colorTone} {
      background-color: $colorHex;
    }

    .c-#{$color}-#{$colorTone} {
      color: $colorHex;
    }
  }
}

@each $fontKey, $size in $fontSizes {
  .fs-#{$fontKey} {
    font-size: size($size);
  }
}

// @each $fontWeight, $font in $fonts {
//   .fw-#{$fontWeight} {
//     font-family: font($fontWeight);
//
//     @if $fontWeight == 'heavy' {
//       letter-spacing: 1px;
//       text-transform: uppercase;
//     }
//   }
// }

@for $i from 0 through 10 {
  .opacity-#{$i} { opacity: $i/10; }
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.noDecoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.lineThrough {
  text-decoration: line-through;
}
