@each $color, $tones in $colors {
  @each $colorTone, $colorHex in $tones {
    .bg-#{$color}-#{$colorTone} {
      background: $colorHex;
    }

    .c-#{$color}-#{$colorTone} {
      color: $colorHex;
    }
  }
}

@each $fontKey, $size in $fontSizes {
  .fs-#{$fontKey} {
    font-size: size($fontKey);
  }
}
