/**********************************************
  @warn:
  Editing colors will result in a mismatch
  with the app. Also change colors value in
  Pyxis.Components.Colors.Model
/**********************************************/
$colors: (

  brand: (
    light: #b967d9,
    base:  #8334c2,
    dark:  #7230ac,
  ),

  brandAlt: (
    light: #ecf8fa,
    base:  #99d7df,
    dark:  #10a1b4,
  ),

  shape: (
    light: #f7f7f7,
    base:  #e0e0e0,
    dark:  #4d5969,
  ),

  text: (
    light: #e0e0e0,
    base:  #7E8890,
    dark:  #4d5969,
  ),

  textAlt: (
    light: #fff,
    base:  rgba(255,255,255,0.5),
    dark:  rgba(255,255,255,0.3),
  ),

  background: (
    base:  #fff,
    dark:  #f7f7f7,
  ),

  backgroundAlt: (
    base:  #3c4355,
    dark:  #343a4b,
  ),

  action: (
    base:  #21c7a7,
    dark:  #1db396,
  ),

  error: (
    base:  #e74c3c,
  ),

  alert: (
    base: #f7da7e,
  ),

);

$fonts: (
  light:     ('avenirltstd-book', Helvetica, Verdana, sans-serif),
  base:      ('avenirltstd-medium', Helvetica, Verdana, sans-serif),
  heavy:     ('avenirltstd-heavy', Helvetica, Verdana, sans-serif),
  monospace: ('Courier New', Courier, monospace),
);

$fontSizes: (
  xsmall:   11px,
  small:    12px,
  medium:   14px,
  large:    24px,
  xlarge:   32px,
);

$formConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  fieldDisabledOpacity: 0.65,
  fieldHeight: 50px,
  fieldPadding: 0 15px,
  fieldShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  iconSize: 20px,
);
