$colors: (

  purple: (
    light: #b967d9,
    base:  #8334c2,
    dark:  #7230ac,
  ),

  green: (
    light: #ecf8fa,
    base:  #99d7df,
    dark:  #10a1b4,
  ),

  grey: (
    light: #f7f7f7,
    base:  #e0e0e0,
    dark:  #4d5969,
  ),

  blue: (
    light: #3c4355,
    base:  #3c4355,
    dark:  #343a4b,
  ),

  red: (
    base:  #e74c3c,
  ),

  white: (
    base:  #fff,
  ),

);

$fonts: (
  light:     ('avenirltstd-book', Helvetica, Verdana, sans-serif),
  base:      ('avenirltstd-medium', Helvetica, Verdana, sans-serif),
  heavy:     ('avenirltstd-heavy', Helvetica, Verdana, sans-serif),
  monospace: ('Courier New', Courier, monospace),
);

$fontSizes: (
  xsmall:   11px,
  small:    12px,
  medium:   14px,
  large:    24px,
  xlarge:   32px,
);
