.dropdown-menu {
    border-bottom: solid 1px color(shape, base);
    overflow: hidden;

    &__toggler {
        align-items: center;
        display: flex;
        font-size: 16px;
    }

    &__toggler-label {
        color: color(text, dark);
        flex-grow: 1;
    }

    &__open-indicator {
        background: none;
        border: none;
        border-radius: 100%;
        color: color(brandAlt, base);
        cursor: pointer;
        flex-grow: 0;
        font-weight: bold;
        font-size: 1.25em;
        height: 40px;
        outline: none;
        text-align: center;
        transform-origin: 50% 50%;
        transition: .3s transform;
        width: 40px;
    }

    &--open &__open-indicator {
        transform: rotate(45deg);
    }

    &__list {
        display: none;
    }

    &--open &__list {
        display: initial;
    }

    &__list-item {
        font-size: .8em;
        color: color(text, base);
    }

    &__link-wrapper {
        overflow: hidden;
        border-radius: 5px;
    }

    &__link {
        color: inherit;
        display: block;
        padding: .75em 8px;
        border-left: solid 3px transparent;

        &[href]:hover {
            cursor: pointer;
            background-color: color(shape, light);
        }

        &--active {
            background-color: color(brandAlt, light) !important;
            color: color(brandAlt, base);
            border-left-color: color(brandAlt, base);
        }
    }
}