.hamburger-icon {
  position: relative;

  @mixin line {
    background-color: #cccccc;
    border-radius: 1px;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    transition: all ease .3s;
    width: 20px;
  }

  &__line {
    @include line;
    width: 15px;

    &:before {
      @include line;
      top: -7px;
    }

    &:after {
      @include line;
      top: 6px;
    }
  }

  &--active &__line {
    transform: rotate(45deg);
    width: 20px;

    &:before {
      top: 0;
      transform: rotate(-90deg);
    }

    &:after {
      opacity: 0;
      transform: rotate(0deg);
      width: 0;
    }
  }
}
