.navbar {
    background-color: color(background, base);

    &__header {
        height: 60px;
        display: flex;
        flex: 0 1 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2px 8px;

        @include mq(small) {
            height: 100px;
            justify-content: center;
        }
    }

    &__button {
        border: none;
        width: 50px;
        height: 50px;
        background: none;
        outline: none;

        @include mq(small) {
            display: none;
        }
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        margin: 0;
        text-align: center;
        flex-grow: 1;
        max-height: 75px;

        @include mq(small) {
            flex-grow: 0;
        }
    }

    &__logo-image {
        height: 80%;
    }

    &__logo-version {
        display: inline-block;
        line-height: 100%;
        background-color: #f8eefa;
        color: color(brand, light);
        font-size: 12px;
        letter-spacing: 0.3px;
        border-radius: 10px;
        padding: .33em .75em;
        margin: 4px;

        @include mq(small) {
            position: relative;
            top: -10px;
        }
    }

    &__content {
        padding: 40px;
        height: calc(100% - 60px);
        overflow-y: auto;
    }
}
