.pyxis__page-button__section-intro,
.pyxis__page-button__section-callout,
.pyxis__page-button__section-primary,
.pyxis__page-button__section-secondary,
.pyxis__page-button__section-tertiary,
.pyxis__page-button__section-button-group,
.pyxis__page-button__section-button-group-cover-fluid {
  margin-bottom: get($sectionOffset, marginBottom);
  @include mq(medium) {
    margin-bottom: get($sectionOffset, breakpoints, medium);
  }
}

.pyxis__page-button__heading {
  margin-bottom: rem(40px);
}
.pyxis__page-button__section-intro__p {
  margin-bottom: rem(40px);
}
.pyxis__page-button__section-intro__button-primer {
  display: flex;
  flex-flow: row wrap;
  @include hackyFlexboxChildrenSpacing(rem(20px));
}

.pyxis__page-button__section-intro__button-primer__sample {
  min-width: 50%;
}
.pyxis__page-button__section-intro__button-primer__specs__ul {
  list-style-position: inside;
  list-style-type: disc;
}

.pyxis__page-button__inset-light,
.pyxis__page-button__inset-dark,
.pyxis__page-button__inset-brand {
  border-radius: rem(20px);
  padding: rem(50px) rem(40px);
}

.pyxis__page-button__inset-light {
  border-color: color(shape);
  border-style: solid;
  border-width: rem(1px);
}
.pyxis__page-button__inset-dark {
  background-color: color(backgroundAlt, dark);
  color: color(textAlt, light);
}
.pyxis__page-button__inset-brand {
  background: linear-gradient(to right, #b964e3, color(brand, base));
}

.pyxis__page-button__preview-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

// DOs and DONTs

.dos-and-donts {
  display: flex;
  flex-flow: row wrap;
}

.dos-and-donts__dos__header {
  color: color(action, base);
}

.dos-and-donts__donts__header {
  color: color(error, base);
}

.dos-and-donts__dos,
.dos-and-donts__donts {
  flex-basis: 50%;
}

.dos-and-donts__dos__header,
.dos-and-donts__donts__header {
  font-family: font(heavy);
  margin-bottom: rem(32px);
}

.dos-and-donts__dos__list,
.dos-and-donts__donts__list {
  list-style: disc inside none;
}

.dos-and-donts__donts__list__li {
  margin-bottom: rem(32px);
}
