%component-page {
  color: color(text, base);
  font: font(base);

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }

  ul li {
    color: color(text, base);

    &:before {
      color: color(brand, base);
      content: "\2022";
      display: inline-block;
      margin-right: 10px;
    }
  }


}
