%component-page {
  color: color(text, base);
  font: font(base);

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }

  .specs-list {
    @include mqUp(small) {
      padding-left: 20px;
    }
  }

  .specs-list__list {
    list-style-type: none;
  }

  .specs-list__item {
    color: color(text, base);

    &:before {
      @include list-item-disc(color(brand, base));
    }
  }

  .tooltip-example-block {
    background: color(brandAlt, base);
    height: 25px;
    margin: 50px 0;
    width: 25px;
  }
}
