.home-page {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;

        @include mq(small) {
            flex-direction: row;
        }

        > * {
            flex: 1 1 100%;
        }
    }
}