pre::-webkit-scrollbar,
code::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb {
    background: rgba(#fff, 0.2); 
    border-radius: 5px;
}

pre::-webkit-scrollbar-track,
code::-webkit-scrollbar-track {
    background: transparent;
}

@import 'pyxis-sass/scss/01_base/_base';