.a-form__field__autocomplete {
  cursor: pointer;
  position: relative;
}

.a-form__field__autocomplete .a-form__field__input:focus,
.a-form__field__autocomplete .a-form__field__input.is-valid.is-touched {
  border-color: color(green, dark);
}

.a-form__field__autocomplete__list {
  background: color(white);
  border: 1px solid color(green, dark);
  border-radius: 0 0 3px 3px;
  border-top: none;
  display: none;
  flex-direction: column;
  left: 0;
  list-style: none;
  margin: -1px 0 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;

  .is-open & {
    display: flex;
  }
}

.a-form__field__autocomplete__list__item {
  align-items: center;
  color: color(green, dark);
  display: flex;
  padding: 0 10px;
  height: 40px;

  &.is-selected {
    background: color(green, light);
  }

  &:hover,
  &.is-selected:hover {
    background: color(green, dark);
    color: color(white);
  }
}
