.a-btn {
  align-self: center;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-family: font(heavy);
  font-size: 14px;
  letter-spacing: 0.3px;
  min-height: map-get($formConfig, fieldHeight);
  outline: none;
  padding: 0 20px;

  & + & {
    margin-left: 15px;
  }
}

.a-btn--primary {
  background: color(brandAlt, dark);
  border-color: color(brandAlt, dark);
  color: color(textAlt, light);
}

.a-btn--secondary {
  background: color(background);
  border-color: color(shape, light);
  color: color(text, dark);
}

.a-btn--tertiary {

}
