.a-btn {
  border: 1px solid transparent;
  font-family: font(heavy);
  font-size: size(xsmall);
  letter-spacing: 0.3px;
  padding: 5px 20px;
}

.a-btn--primary {
  background: color(green);
  border-color: color(green);
  color: color(white);
}

.a-btn--secondary {
  background: color(white);
  border-color: color(grey, light);
  color: color(grey, dark);
}

.a-btn--tertiary {

}
