.a-btn {
  align-self: center;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-family: font(heavy);
  font-size: 14px;
  letter-spacing: 0.3px;
  min-height: 50px;
  padding: 0 20px;
}

.a-btn--primary {
  background: color(green, dark);
  border-color: color(green, dark);
  color: color(white);
}

.a-btn--secondary {
  background: color(white);
  border-color: color(grey, light);
  color: color(grey, dark);
}

.a-btn--tertiary {

}
