$datepicker-ns: 'a-form__field__datepicker__' !default;

%daySelection {
  background-color: color(shape);
  border-radius: 60px;
  height: 30px;
  width: 30px;
  z-index: -1;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, -55%, 0);
}

.#{$datepicker-ns}container {
  display: none;
  font-size: 14px;
  position: relative;

  @include mq(small) {
    display: block;
  }

  &:before {
    border-left: map-get($formConfig, borderWidth) solid color(shape);
    bottom: 1px;
    color: color(brandAlt, dark);
    content: "\e904";
    font-family: 'icomoon';
    font-size: 20px;
    line-height: map-get($formConfig, fieldHeight);
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1px;
    width: map-get($formConfig, fieldHeight);
  }
}

.#{$datepicker-ns}input {
  background-position: 95%;
  background-size: 25px;
  padding: 18px 60px 15px 15px;
}

.#{$datepicker-ns}input:focus {
  outline: 0;
}

.#{$datepicker-ns}picker {
  background: color(background);
  border-radius: 0 0 map-get($formConfig, borderRadius) map-get($formConfig, borderRadius);
  box-shadow: map-get($formConfig, fieldShadow);
  left: 50%;
  margin-left: -150px;
  position: absolute;
  top: 110%;
  width: 300px;
  z-index: 15;
}

.#{$datepicker-ns}picker-header {
  align-items: center;
  background: color(backgroundAlt);
  border-radius: map-get($formConfig, borderRadius) map-get($formConfig, borderRadius) 0 0;
  display: flex;
  height: 50px;
  overflow: hidden;
}

.#{$datepicker-ns}weekdays {
  color: color(text, light);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.8;
  text-transform: uppercase;
}

.#{$datepicker-ns}prev-container,
.#{$datepicker-ns}next-container {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  height: 100%;
}

.#{$datepicker-ns}month-container {
  align-items: center;
  display: flex;
  flex: 0 0 150px;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
}

.#{$datepicker-ns}month {
  font-weight: 700;
  padding-top: 2px;
  text-transform: uppercase;
}

.#{$datepicker-ns}month,
.#{$datepicker-ns}year {
  color: color(textAlt, light);
  cursor: default;
  flex: 0 1 auto;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-align: center;
}

.#{$datepicker-ns}year {
  align-items: center;
  background-color: rgba(255,255,255,0.10);
  cursor: pointer;
  display: flex;
  font-weight: 400;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  transition: background-color 0.3s ease;

  .is-IE & {
    right: -5px;
  }

  &:hover {
    background-color: rgba(255,255,255,0.15);
  }

  span:after {
    color: color(textAlt, light);
    content: "\e902";
    font-family: 'icomoon';
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;

    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.2s cubic-bezier(0, 1, 1, 1);
  }
}

.#{$datepicker-ns}year-menu {
  background: none;
  border: none;
  color: color(textAlt, light);
  cursor: pointer;
  font-family: font(heavy);
  font-size: 12px;
  outline: none;
  padding: 25px 30px 20px 25px;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.#{$datepicker-ns}prev,
.#{$datepicker-ns}next {
  border: 6px solid transparent;
  outline: none;

  display: block;
  width: 0;
  height: 0;

  padding: 0 5px;
}

.#{$datepicker-ns}prev {
  border-right-color: color(shape, light);

  &:hover {
    border-right-color: darken(color(shape, light), 10%);
  }
}

.#{$datepicker-ns}next {
  border-left-color: color(shape, light);

  &:hover {
    border-left-color: darken(color(shape, light), 10%);
  }
}

.#{$datepicker-ns}table {
  border-spacing: 0;
  border-collapse: collapse;

  font-size: 14px;
  width: 100%;

  td {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    text-align: center;
    display: table-cell;
    border: none;
  }
}

.#{$datepicker-ns}row {

}

.#{$datepicker-ns}dow {
  color: color(text, dark);

  cursor: default;
}

.#{$datepicker-ns}day {
  cursor: pointer;
  position: relative;

  &:hover:before {
    content: '';
  }
}

.#{$datepicker-ns}day,
.#{$datepicker-ns}picked {

  .is-Edge &,
  .is-IE & {
    vertical-align: sub;
  }

  &:before {
    @extend %daySelection;
  }
}

.#{$datepicker-ns}picked {
  color: color(textAlt, light)!important;

  &:before {
    background-color: color(backgroundAlt);
    content: '';
  }
}

.#{$datepicker-ns}disabled {
  cursor: default;
  color: color(text, light);

  &:hover {
    background: inherit;
  }
}

.#{$datepicker-ns}today {
  color: color(backgroundAlt, dark);
  font-weight: bold;
}

.#{$datepicker-ns}today:not(.#{$datepicker-ns}picked) {

  &:before {
    background-color: transparent;
    border: map-get($formConfig, borderWidth) solid color(shape);
    content: '';
  }

  &:hover:before {
    background-color: color(shape);
    border: none;
    color: color(text, dark);
  }
}

.#{$datepicker-ns}other-month {
  color: rgba(color(text), 0.5);

  &.#{$datepicker-ns}disabled {
    color: color(text);
  }

  &.#{$datepicker-ns}picked {
    color: color(textAlt, light);
  }
}

.#{$datepicker-ns}year-menu option {
  color: color(text, dark);
}
