.a-form {

}

.a-form__field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 10px;
  transition: background 0.3s;

  &:hover {
    background: color(grey, light);
  }

  @include mq(small) {
    border-radius: map-get($formConfig, borderRadius);
  }
}

.a-form__field__input,
.a-form__field__date,
.a-form__field__textarea,
.a-form__field__select,
.a-form__field__customSelect {
  font-family: font(light);
  min-width: 250px;
  outline: none;
}

.a-form__field__input,
.a-form__field__date,
.a-form__field__select {
  transition: background 0.3s, border 0.3s, color 0.3s;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.a-form__field__input,
.a-form__field__date,
.a-form__field__textarea,
.a-form__field__autocomplete {
  font-size: 14px;
}

.a-form__field__error {
  color: color(red);
  flex: 0 0 100%;
  font-family: font(base);
  font-size: 12px;
  margin-top: 7.5px;

  @include mq(small) {
    padding-left: 280px;
  }

  .a-form__field__input:focus + &,
  .a-form__field__date:focus + &,
  .a-form__field__textarea:focus + &,
  .a-form__field__autocomplete:focus + &,
  .a-form__field__select:focus + & {
    display: none;
  }
}

::-webkit-input-placeholder { color: rgba(color(grey, dark), 0.65); }
::-moz-placeholder { color: rgba(color(grey, dark), 0.65); }
:-ms-input-placeholder { color: rgba(color(grey, dark), 0.65); }
:-moz-placeholder { color: rgba(color(grey, dark), 0.65); }
