.a-form {

}

.a-form__field {
  border-radius: 5px;
  display: flex;
  padding: 10px;
  min-height: 70px;
  align-items: center;
  transition: background 0.3s;

  &:hover {
    background: color(grey, light);
  }
}

.a-form__field__input,
.a-form__field__textarea,
.a-form__field__select,
.a-form__field__customSelect {
  min-width: 250px;
  outline: none;
}

.a-form__field__input,
.a-form__field__select {
  transition: background 0.3s, border 0.3s, color 0.3s;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.a-form__field__input,
.a-form__field__textarea,
.a-form__field__autocomplete {
  font-size: 14px;
}

.a-form__field__error {
  color: color(red);
  font-family: font(base);
  padding-left: 30px;
}
