.a-form__field__input {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(text, dark);
  height: map-get($formConfig, fieldHeight);
  margin: 0;
  padding: map-get($formConfig, fieldPadding);

  &:focus,
  &.is-pristine:focus {
    border: map-get($formConfig, borderWidth) solid color(brand-alt);
    box-shadow: map-get($formConfig, fieldShadow);
  }

  &.is-valid:not(:focus),
  &.is-touched:not(.is-invalid):not(:focus) {
    border-color: color(brand-alt, dark);
    color: color(brand-alt, dark);
  }

  &.is-invalid.is-touched:not(:focus) {
    border-color: color(error);
    color: color(error);
  }

  &.is-pristine {
    border: map-get($formConfig, borderWidth) solid color(shape);
  }

  &.is-disabled,
  &[disabled] {
    background-color: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}
