.a-list__item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: map-get($listConfig, padding);

  @include mq(small) {
    padding: map-get($listConfig, padding) (map-get($listConfig, padding) * 2);
  }

  &.a-list__item--button {

    &.is-active {
      padding: 0;
    }

    &.is-active .a-link {
      background: color(brandAlt, dark);
      border-radius: 80px;
      color: color(textAlt, light);
      margin: 0 5px;
      padding: 0 15px;
      transition: background-color 0.3s ease;

      &:hover {
        background: lighten(color(brandAlt, dark), 5%);
        color: color(textAlt, light);
      }

      &:after,
      &:before {
        display: none
      }
    }
  }

  &.a-list__item--button .a-link {
    color: color(brandAlt, dark);
    transition: background-color 0.3s ease;
  }

  &.a-list__item--reserved-area {
    transition: all 0.5s;
    padding: 0;

    @include mq(small) {
      border-left: map-get($listConfig, borderWidth) solid color(shape);
      padding: map-get($listConfig, padding) (map-get($listConfig, padding) * 2);
    }
  }
}
