.a-list__item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: (map-get($listConfig, padding) / 2) ;

  &.a-list__item--button {

    &.is-active .a-link {
      background: color(brandAlt, dark);
      color: color(textAlt, light);
      margin: 0 5px;
      padding: (map-get($listConfig, padding) / 2) 15px;
      transition: background-color 0.1s ease;

      &:hover {
        background: lighten(color(brandAlt, dark), 5%);
        color: color(textAlt, light);
      }

      &:after,
      &:before {
        display: none
      }
    }
  }

  &.a-list__item--button .a-link {
    border-radius: 80px;
    color: color(brandAlt, dark);
    transition: background-color 0.3s ease;
  }

  &.a-list__item--reserved-area {
    display: flex;
    flex-direction: row;
    transition: all 0.5s;

    @include mq(small) {
      border-left: map-get($listConfig, borderWidth) solid color(shape);
      padding: map-get($listConfig, padding);
    }

    .a-link:first-child {
      @include mq(small){
        padding-right: 10px      
      }
    }
  }
}
