.a-loader__spinner {
  animation: spin 1s infinite linear;
  display: none;
  border: 2px solid rgba(color(brand, light), 0.2);
  border-radius: 50%;
  border-top-color: color(brand, base);
  height: 60px;
  width: 60px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
