.a-form__field__radio {
  display: none;
}

.a-form__field__radio__label {
  color: color(grey, dark);
  cursor: pointer;
  display: flex;
  margin-right: 20px;
  line-height: 50px;
  padding-left: 25px;
  position: relative;
  width: auto;

  .a-form__field__radio[disabled] + & {
    opacity: 0.65;
    pointer-events: none;
  }

  &:before,
  &:after {
    border-radius: 100%;
    display: flex;
    font-family: font(monospace);
    font-size: 16px;
    height: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
    transform-origin: center center;
  }

  &:before {
    background-color: color(white);
    border: 1px solid color(green);
    content: '';
    left: 0;
    transform: translateY(-50%);
  }

  &:after {
    background: color(green, dark);
    content: '';
    left: 5px;
    height: 10px;
    transform: scale(0) translateY(-50%);
    transition: transform 0.2s cubic-bezier(0, 1, 1, 1);
    width: 10px;
  }

  &:hover:after,
  .a-form__field__radio:checked + &:after {
    transform: scale(1) translateY(-50%);
  }

  .a-form__field__radio:not(:checked) + &:hover:after {
    opacity: 0.65;
  }
}
