.a-form__field__textarea {
  background: color(white);
  border: 1px solid color(grey);
  border-radius: 5px;
  color: color(green, dark);
  min-height: 100px;
  margin: 0;
  padding: 5px 15px;

  &:focus,
  &.is-pristine:focus {
    border-color: color(green);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
  }

  &.is-valid,
  &.is-touched {
    border-color: color(green, dark);
  }

  &.is-invalid.is-touched:not(:focus) {
    border-color: color(red);
    color: color(red);
  }

  &.is-pristine {
    border: 1px solid color(grey);
    color: color(green, dark);
  }
}
