h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(base);
  font-weight: normal;
}
h1 {
  font-size: size(xlarge);
}
h2 {
  font-size: size(large);
}
h3 {
  font-size: size(medium);
}
h4 {
  font-size: size(small);
}
h5 {
  font-size: size(xsmall);
}
h6 {
  font-size: size(xsmall);
}
