h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(base);
  font-weight: normal;
}

h1 {
  font-size: size(xlarge);
  line-height: line-height(xlarge);
}

h2 {
  font-size: size(large);
  line-height: line-height(large);
}

h3 {
  font-size: size(medium);
  line-height: line-height(medium);
}

h4 {
  font-size: size(root);
  line-height: line-height(root);
}

h5 {
  font-size: size(small);
  line-height: line-height(small);
}

h6 {
  font-size: size(xsmall);
  line-height: line-height(xsmall);
}

p {
  font-size: size(root);
  line-height: line-height(root);
}
