h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(base);
  font-weight: normal;
}

h1 {
  @extend .fs-medium;

  @include mq(small) {
    font-size: size(large);
    line-height: line-height(large);
  }

  @include mq(medium) {
    font-size: size(xlarge);
    line-height: line-height(xlarge);
  }
}

h2 {
  @extend .fs-base;

  @include mq(small) {
    font-size: size(medium);
    line-height: line-height(large);
  }

  @include mq(medium) {
    font-size: size(large);
    line-height: line-height(large);
  }
}

h3 {
  @extend .fs-small;

  @include mq(small) {
    font-size: size(base);
    line-height: line-height(base);
  }

  @include mq(medium) {
    font-size: size(medium);
    line-height: line-height(medium);
  }
}

h4 {
  @extend .fs-small;

  @include mq(small) {
    font-size: size(small);
    line-height: line-height(small);
  }

  @include mq(medium) {
    font-size: size(base);
    line-height: line-height(base);
  }
}

p {
  @extend .fs-small;

  @include mq(small) {
    font-size: size(small);
    line-height: line-height(small);
  }

  @include mq(medium) {
    font-size: size(base);
    line-height: line-height(base);
  }
}
