@mixin hamburger-icon-line {
  background-color: #cccccc;
  border-radius: 1px;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  transition: all ease .3s;
  width: 20px;
}


.hamburger-icon {
  position: relative;
}


.hamburger-icon__line {
  @include hamburger-icon-line;
  width: 15px;

  &:before {
    @include hamburger-icon-line;
    top: -7px;
  }

  &:after {
    @include hamburger-icon-line;
    top: 6px;
  }
}

.hamburger-icon--active {
  .hamburger-icon__line {
    transform: rotate(45deg);
    width: 20px;

    &:before {
      top: 0;
      transform: rotate(-90deg);
    }

    &:after {
      opacity: 0;
      transform: rotate(0deg);
      width: 0;
    }
  }
}
