.suggestions-list {
  margin: 20px 0;
}

.suggestions-list__header {
  align-items: center;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  font-size: 12px;
}

.suggestions-list__label {
  padding: 0;
  width: 4em;
}

.suggestions-list__separator {
  border-top: solid 1px #000000;
  flex-grow: 1;
  height: 1px;
}

.suggestions-list__item {
  display: flex;
  flex-direction: row;
  margin: 1em 0;

  &:before {
    @include list-item-disc(color(brand, base));
  }
}

.suggestions-list--do {
  .suggestions-list__header * {
    border-color: #21c7a7;
    color: #21c7a7;
  }
}

.suggestions-list--dont {
  @include mqUp(small) {
    margin-right: 1.5em;
  }

  .suggestions-list__header * {
    border-color: #e74c3c;
    color: #e74c3c;
  }
}
