.m-message {
  align-items: center;
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  display: flex;
  flex: 1 0 auto;

  .m-message__icon {
    border-right: map-get($formConfig, borderWidth) solid color(shape);
    display: flex;
    flex: 0 0 50px;
    justify-content: center;
    height: 50px;
    position: relative;

    &:before {
      color: color(brandAlt, dark);
      content: "\e904";
      font-family: 'icomoon';
      font-size: 20px;
      line-height: map-get($formConfig, fieldHeight);
      position: absolute;
      text-align: center;
    }
  }

  .m-message__text {
    color: color(text);
    padding-left: 20px;
    font-size: size(medium);
    font-family: font(base);
    line-height: size(medium);
  }

  &.m-message--success,
  &.m-message--success .m-message__icon {
    border-color: color(brandAlt, dark);
  }

  &.m-message--alert,
  &.m-message--alert .m-message__icon {
    border-color: color(alert);
  }

  &.m-message--error,
  &.m-message--error .m-message__icon {
    border-color: color(error);
  }
}
