.m-offCanvas {
  display: none;
  height: 100vh;
  flex-direction: column;
  left: 0;
  justify-content: flex-start;
  position: absolute;
  top: map-get($navConfig, mobileHeight);
  width: 100%;
  z-index: 100;
}

.a-toggle-container__button {
  position: absolute;
  width: 2px;
  height: 2px;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  transition: map-get($offCanvasConfig, transitionDuration);
  z-index: 10;
}

#toggle:checked {

  & ~ .a-toggle-container .a-toggle-container__button {
    box-shadow: 0 0 0 1500px color(backgroundAlt, base), inset 0 0 0 20px color(backgroundAlt, base), 0 0 0 8px color(backgroundAlt, base), inset 0 0 0 20px color(backgroundAlt, base);
  }

  & ~ .m-offCanvas {
    display: flex;
    overflow: auto;
    padding-bottom: 120px;
    pointer-events: auto;
    transform: translate(0, 0);
  }
}
