@import
  '01_base/_variables.scss',
  '01_base/_fonts.scss',
  '01_base/_helpers.scss';

/******************************
  Pyxis styles
******************************/
:root {
  --black:       #000000;
  --purple:      #8334c2;
  --grey:        #d1d1d1;
  --lightGrey:   #f1f1f1;
  --white:       #ffffff;
}

/******************************
  Basics
******************************/
#app {
  min-height: 100%;
}

html,
body {
  font-family: font(light);
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pyTitle {
  font-size: 50px;
  letter-spacing: 1px;
}

.pySubtitle {
  font-size: 25px;
  letter-spacing: 0.5px;
  padding-left: 5px;
}

.pyLink {
  font-size: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: font(heavy);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .pySubtitle & {
    float: right;
  }

  & + & {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/******************************
  Colors helpers
******************************/
.pyIntro {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  height: calc(100vh - 7.5vh);
  position: relative;

  h1,
  h2 {
    color: var(--white);
  }
}

/******************************
  Colors helpers
******************************/
.purple {
  color: var(--purple);
}

.black {
  color: var(--black);
}

.grey {
  color: var(--grey);
}

/******************************
  Containers & Dividers
******************************/
.pyWrapper {
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
  width: 100%;
}

.pyDivider {
  border: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--grey);

    transform: translateY(-50%);
  }
}

/******************************
  Nav
******************************/
.pyNav {
  display: flex;
  height: 7.5vh;
}

.pyNav__menu {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.pyNav__menu__item {
  display: flex;
  flex: 0 0 auto;
  font-size: size(small);
  justify-content: center;
  padding: 15px 30px 15px 0;
  cursor: pointer;

  &:hover,
  &.is-active {
    text-decoration: underline;
  }

  &.is-active {
    color: var(--purple);
  }
}

/******************************
  Color Scheme
******************************/
.pyColorScheme {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pyColorScheme__item {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-bottom: 40px;

  &:before {
    content: attr(data-color);
    flex: 1 0 100%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    opacity: 0.8;
    padding: 10px;
  }
}

.pyColorScheme__item__tone {
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-family: font(heavy);
  font-size: size(small);
  height: 120px;
  margin: 0 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 120px;
  will-change: transform;

  &:before {
    bottom: 0;
    content: 'Copy HEX';
    font-size: 10px;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease;
    width: 100%;
    will-change: transform;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:hover:before {
    transform: translate3d(0, 0, 0);
  }

  &:active:before {
    transform: scale(1.1);
  }

  @each $color, $tones in $colors {
    @each $colorTone, $colorHex in $tones {
      &.bg-#{$color}-#{$colorTone} {

        &:hover:before {
          background-color: darken($colorHex, 4%);
        }

        @if lightness($colorHex) >= 96 {
          box-shadow: 0px 10px 30px 0px rgba(0,0,0, 0.1);
        }
        @else {
          box-shadow: 0px 10px 40px 0px rgba($colorHex, 0.3);
        }

        @if lightness($colorHex) > 80 {
          color: rgba(0,0,0,0.3);
        }
        @else {
          color: var(--white);
        }
      }
    }
  }
}

.pyColorScheme__item__tone__name {
  padding: 20px;
}

/******************************
  Footer
******************************/
.pyFooter {
  background: var(--white);
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30vh;
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.15);
  z-index: 1;

  transform: translate3d(0, 100%, 0);
  transition: transform 0.3s ease-in-out;

  &.is-open {
    transform: translate3d(0, 0, 0);
  }
}

.pyFooter__link {
  display: flex;
  flex: 1 0 auto;
  align-self: flex-end;
  justify-content: flex-end;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/******************************
  Snippet
******************************/
.pySnippet {
  display: flex;
  padding: 20px;
  background-color: var(--lightGrey);
  height: 25vh;
  overflow: auto;
  font-size: 12px;
}

.pyIcon {
  font-size: 24px;
  color: var(--black);
  margin: 0 10px;
  cursor: pointer;
}

.pyIconInspect {
  font-size: 20px;
  justify-content: flex-end;
  opacity: 0.45;
  transition: all 0.3s;
  position: absolute;
  right: 0;

  &:hover {
    opacity: 0.7;
  }
}

/******************************
  Messages
******************************/
.pyMessageList {
  align-items: flex-end;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.pyMessage {
  align-items: center;
  background-color: #21c7a7;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: flex;
  flex: 0 0 20%;
  font-weight: bolder;
  justify-content: center;
  letter-spacing: 0.5;
  margin-right: 20px;
  padding: 15px;
}

.pyMessage + .pyMessage {
  margin-top: 10px;
}

/******************************
  Tooltips
******************************/
.pyTooltipHolder {
  position: relative;
  height: 1px;
  margin: 120px auto;
  width: 320px;
}
