.pyxis__sidebar {
  box-shadow: 0 0 rem(60px) rgba(77, 89, 105, 0.1);
  display: none;
  height: 100vh;
  max-width: get($sidebarConfig, maxWidth);
  padding: rem(80px) 0;
  position: sticky;
  top: 0;

  width: get($sidebarConfig, maxWidth);

  @include mq(medium) {
    display: block;
  }
}

.pyxis__sidebar__item {
  @extend .accordion__toggle;
  color: color(text, dark);
}

.pyxis__sidebar__list {
  list-style: none;
}

.pyxis__sidebar__list__item {
  display: block;
  margin: rem(10px) 0;
}

.pyxis__sidebar__list__item__link {
  color: color(text, base);
  cursor: pointer;

  &:hover {
    color: color(brandAlt, base);
  }
}
