$fontPath : "/fonts";

@import "pyxis-npm/src/scss/pyxis";
@import "variables";
@import "sidebar";
@import "pages/style/root";
@import "icons";

.pyxis {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: get($sidebarConfig, maxWidth) 1fr;
}

.pyxis__content {
    padding: rem(80px);
}
