// .typography {
// }

.typography-section {
  margin: rem(20px) 0;

  section {
    margin-bottom: rem(60px);
    margin-top: rem(60px);
  }
}

.typography-br {
  border-bottom: 1px solid color(shape);
}

.typography-font-weight-section,
.typography-body-styles-section,
.typography-heading-styles-section {
  overflow-x: scroll;
  width: 100%;
}

.typography-table {
  border-collapse: collapse;
  border-spacing: 0 rem(20px);
  width: 100%;
  > thead {
    font-family: font("heavy");
  }

  > tbody > tr {
    border-bottom: 1px solid color(shape);
  }

  td,
  th {
    padding: rem(18px);
    text-align: left;
  }
}

$hTypes: h1, h2, h3, h4, h5, h6;
@each $hType in $hTypes {
  .typography-#{$hType} {
    @extend #{$hType};
  }
}

// NONCOMPLIANT PYXIS STUFF?
.typography-h3,
.typography-h4,
.typography-h5 {
  font-family: font("light");
}

.typography-table__aside {
  @include fontSize("xsmall");
}

.typography-font-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  @include mq(medium) {
    justify-content: space-between;
  }
}

.typography-font-section__intro {
  width: 100%;

  @include mq(medium) {
    width: rem(360px);
  }
}

.typography-font-section__specs {
  margin-left: rem(40px);

  @include fontSize(small);
}

.typography-font-section__specs__item {
  margin-bottom: rem(12px);
  margin-top: rem(12px);
}

.typography-font-section__specs__item__label {
  font-family: font(heavy);
  margin-right: rem(12px);
}

.typography-font-section__sample {
  border-right: 1px solid color(shape);
  font-family: font(base);
  font-size: rem(160px);
  line-height: rem(160px);
  padding-right: rem(36px);
}

.typography-alphabet-sample {
  margin-bottom: rem(8px);
  word-wrap: break-word;
}

.typography-mark-font-section {
  @extend .inset-section;
  background: linear-gradient(to right, #b964e3, color(brand, base));
  color: color(textAlt, light);
}
