// .typography {
// }

.typography__section {
  margin: rem(20px) 0;
}

.typography-table {
  border-collapse: separate;
  border-spacing: 0 rem(20px);
  width: 100%;
}

.typography-table__row {
  border-bottom-width: 1px;
  border-color: color(shape);
  border-style: solid;
}

.typography-table__cell {
  text-align: left;
}

.typography-h1 {
  @extend h1;
}
.typography-h2 {
  @extend h2;
}
.typography-h3 {
  @extend h3;
}
.typography-h4 {
  @extend h4;
}
.typography-h5 {
  @extend h5;
}
.typography-h6 {
  @extend h6;
}
