// .typography {
// }

.typography-section {
  margin: rem(20px) 0;

  section {
    margin-bottom: rem(60px);
    margin-top: rem(60px);
  }
}

.typography-br {
  border-bottom: 1px solid color(shape);
}

.typography-table {
  border-collapse: collapse;
  border-spacing: 0 rem(20px);

  width: 100%;

  > thead {
    font-family: font("heavy");
  }

  > tbody > tr {
    border-bottom: 1px solid color(shape);
  }

  td,
  th {
    padding: rem(18px);
    text-align: left;
  }
}

$hTypes: h1, h2, h3, h4, h5, h6;
@each $hType in $hTypes {
  .typography-#{$hType} {
    @extend #{$hType};
  }
}

// NONCOMPLIANT PYXIS STUFF?
.typography-h3,
.typography-h4,
.typography-h5 {
  font-family: font("light");
}

.typography-table__aside {
  @include fontSize("xsmall");
}
