.navbar {
    background-color: color(background, base);

    &__header {
        height: 60px;
        display: flex;
        flex: 0 1 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2px 8px;

        @include mq(small) {
            height: 100px;
            justify-content: center;
        }
    }

    &__button {
        border: none;
        width: 50px;
        height: 50px;
        background: none;
        outline: none;

        @include mq(small) {
            display: none;
        }
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        margin: 0;
        text-align: center;
        flex-grow: 1;
        max-height: 75px;

        @include mq(small) {
            flex-grow: 0;
        }
    }

    &__logo-image {
        height: 80%;
    }

    &__logo-version {
        display: inline-block;
        line-height: 100%;
        background-color: #f8eefa;
        color: #b967d9;
        font-size: 12px;
        letter-spacing: 0.3px;
        border-radius: 10px;
        padding: .33em .75em;
        margin: 4px;

        @include mq(small) {
            position: relative;
            top: -16px;
        }
    }

    &__content {
        padding: 40px;
        height: calc(100% - 60px);
        overflow-y: auto;
    }
}

.dropdown-menu {
    border-bottom: solid 1px color(shape, base);
    overflow: hidden;

    &__toggler {
        align-items: center;
        display: flex;
        font-size: 16px;
    }

    &__toggler-label {
        color: color(text, dark);
        flex-grow: 1;
    }

    &__open-indicator {
        background: none;
        border: none;
        border-radius: 100%;
        color: color(brandAlt, base);
        cursor: pointer;
        flex-grow: 0;
        font-weight: bold;
        font-size: 1.25em;
        height: 40px;
        outline: none;
        text-align: center;
        transform-origin: 50% 50%;
        transition: .3s transform;
        width: 40px;
    }

    &--open &__open-indicator {
        transform: rotate(45deg);
    }

    &__list {
        display: none;
    }

    &--open &__list {
        display: initial;
    }

    &__list-item {
        font-size: .8em;
        color: color(text, base);
    }

    &__link-wrapper {
        overflow: hidden;
        border-radius: 5px;
    }

    &__link {
        color: inherit;
        display: block;
        padding: .75em 8px;
        border-left: solid 3px transparent;

        &[href]:hover {
            cursor: pointer;
            background-color: color(shape, light);
        }

        &--active {
            background-color: color(brandAlt, light) !important;
            color: color(brandAlt, base);
            border-left-color: color(brandAlt, base);
        }
    }

}