/* stylelint-disable declaration-no-important */

@include mqDown(small) {
  .mq-mobile-hidden {
    display: none !important;
  }
}

@include mqUp(small) {
  .mq-desktop-hidden {
    display: none !important;
  }
}

.u-pos-center {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.box {
  background-color: #ffffff;
  border: 1px solid hsla(0, 0%, 87.8%, .5);
  border-radius: 10px;
  padding: 16px;

  &--big {
    @include mq(small) {
      padding: 90px;
    }
  }

  &--bg-light {
    background: color(shape, light);
  }

  &--bg-gradient {
    background: linear-gradient(120deg, #b261d0, #863dbe);

    * {
      color: #ffffff;
    }
  }

  &--bg-dark {
    background: color(backgroundAlt, dark);

    * {
      color: #ffffff;
    }
  }
}



.nav-box {
  @extend .box;
  align-items: center;
  box-shadow: 0 30px 60px -20px rgba(75, 90, 105, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: row;

  font: font(base);
  padding: 15px;

  @include mq(small) {
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
  }

  // &__header {}

  &__icon {
    align-items: center;
    background-color: rgba(185, 103, 217, 0.15);
    border-radius: 20px;
    color: color(brand, base);
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0;
    margin-right: 10px;
    width: 50px;

    @include mq(small) {
      margin: 0;
      margin-bottom: 8px;
    }

    img {
      max-width: 66%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    color: color(text, dark);
    font: font(heavy);
    font-size: 14px;
    margin: 0;
    margin-bottom: .5em;

    @include mq(small) {
      font-size: 16px;
    }
  }

  &__description {
    color: color(text, base);
    font: font(light);
    font-size: 14px;

    @include mq(small) {
      font-size: 16px;
      margin-bottom: .75em;

    }
  }

  // &__footer {}

  &__arrow {
    border: solid 1px color(brandAlt, base);
    border-bottom: none;
    border-left: none;
    height: 10px;
    transform: rotate(45deg);
    width: 10px;

    @include mq(small) {
      display: none !important;
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(small) {
    flex-direction: row;
  }

  > * {
    flex: 1 1 100%;
    margin: 10px 0;

    @include mq(small) {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--reversed {
    flex-direction: column-reverse;

    @include mq(small) {
      flex-direction: row-reverse;
    }
  }
}
