@import
  '01_base/_variables.scss',
  '01_base/_helpers.scss';

/******************************
  Pyxis styles
******************************/
:root {
  --black: #000000;
  --purple: #8334c2;
  --grey: #d1d1d1;
  --white: #ffffff;
}

/******************************
  Basics
******************************/
html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1.6px;
}

/******************************
  Colors helpers
******************************/
.purple {
  color: var(--purple);
}

.black {
  color: var(--black);
}

.grey {
  color: var(--grey);
}

/******************************
  Containers & Dividers
******************************/
.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

.divider {
  border: none;
  height: 50px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--grey);

    transform: translateY(-50%);
  }
}

/******************************
  Nav
******************************/
.nav {
  display: flex;
}

.nav__menu {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__menu__item {
  display: flex;
  flex: 0 0 auto;
  font-weight: 700;
  justify-content: center;
  padding: 15px 30px 15px 0;
  cursor: pointer;

  &:hover,
  &.is-active {
    text-decoration: underline;
  }

  &.is-active {
    color: var(--purple);
  }
}

/******************************
  Color Scheme
******************************/
.colorScheme {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.colorScheme__item {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-bottom: 40px;

  &:before {
    content: attr(data-color);
    flex: 1 0 100%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    opacity: 0.8;
    padding: 10px;
    text-transform: uppercase;
  }
}

.colorScheme__item__tone {
  align-items: center;
  border-radius: 14px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.10);
  cursor: pointer;
  display: flex;
  font-family: font(heavy);
  justify-content: center;
  height: 120px;
  margin: 0 5px;
  transition: all 0.3s ease;
  width: 120px;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.08);
  }

  @each $color, $tones in $colors {
    @each $colorTone, $colorHex in $tones {
      &.bg-#{$color}-#{$colorTone} {
        @if lightness($colorHex) > 50 {
          color: rgba(0,0,0,0.4);
        }
        @else {
          color: var(--white);
        }
      }
    }
  }
}
